.card {
  float: left;
  border: solid 2px black;
  border-radius: 5px;
  margin-right: 20px;
}

.dealer-hand-container .covered:first-child {
  background-position:  0 -480px;
}

.hand {
  overflow: auto;
}
