.xcard {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.dealer-hand-container .covered:first-child {
  background-position:  0 -480px;
}

.hand {
  overflow: auto;
}
